*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: gray;
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 100%;

}

#container
{
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 4px;

}

#menu
{
    background-color: #595959;
    margin-top: 20px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#content
{
    padding: 40px;
    text-align: left;
}

#foot
{
    clear: both;
    color: white;
    padding: 20px;
    font-size: 18px;
}

ul
{
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li 
{
    float: left;
    border-right: 1px solid gray;
}

li a
{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: wheat;
}

li a:hover
{
    background-color: #111;
}

li:last-child
{
    border-right: none;
}